<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @collaboration.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @collaboration.answer %>
</p>

<%= link_to 'Edit', edit_collaboration_path(@collaboration) %> |
<%= link_to 'Back', collaborations_path %>
